div.color{
    background-color: rgb(219, 239, 243);
    border-style: solid;
    border-color: rgb(63, 81, 181);
    
}

h3.e {
    color: rgb(255, 255, 255);
    background-color: rgb(63, 81, 181);
}

h4.comentario{

    text-align: left;
    font-weight: lighter;
    padding: 3px 10px;
    border: rgb(0, 0, 0) 1px solid;
    border-color: rgb(63, 81, 181);
    border-radius: 5px;
    
}

h4.calificacion{

    text-align: left;
    font-weight: lighter;

}