.item1 { grid-area: header;
        background-color: rgba(255, 255, 255, 0.8);
        padding: 0px 0;
        text-align: center;
        font-size: 20px;
}
.item2 { grid-area: login;  
         background-color: rgba(255, 255, 255, 0.8);
         padding: 10px 0;
         text-align: center;
         font-size: 25px;
        }
.item3 { grid-area: main;   
    background-color: rgba(255, 255, 255, 0.8);
    padding: 10px 0;
    text-align: center;
    font-size: 25px;
}
.item4 { grid-area: footer;   
    background-color: rgba(255, 255, 255, 0.8);
    padding: 10px 0;
    text-align: center;
    font-size: 25px;
}
.item5 { grid-area: search; 
    background-color: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
    padding: 10px 0;
    text-align: center;
    font-size: 25px;
}

.grid-container {
  display: grid;
  grid-template-areas:
    'header header header header header header'
    'search search search search search search'
    'login main main main main main'
    'login footer footer footer footer footer';
  grid-gap: 10px;
  background-color: rgb(16, 70, 209);
  padding: 10px;
}

img.logo {
    float: left;
    width: 180px;
    height: 80px;
}

.ButtonGroup {
    float: left;
    padding-left: 10px;
}

.Button{
    color: rgb(16, 70, 209);
}