.paperPublish {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 3% 0%;
    margin: 2% 15%;
}

.paperIdea {
    display: flex;
    flex-direction: column;
    
    padding: 3% 3%;
    margin: 2% 15%;
}

.formCon{
    margin-bottom:20px;
}