.App {
    text-align: center;
}

.App-logo {
    animation: App-logo-spin infinite 20s linear;
    height: 70px;
    width: 110px;
}

.App-header {
    background-color: rgb(16, 70, 209);
    height: 120px;
    padding: 10px;
    color: rgb(255, 255, 255);
}

.App-title {
    font-size: 1.5em;
}

.App-intro {
    font-size: small;
}

.todo-form {
    border: 1px solid lightsteelblue;
    margin: auto;
    width: 20%;
    padding: 1px;
    text-align: center;
}

.left {
    float: left;
}

.right-margin {
    margin-right: 15px;
}

@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}

table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 70%;
    margin: auto;
}

Button {
    margin-right: 700px;
}

td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: #dddddd;
}

h4 {
    margin-right: -700px;
}
