.paperGeneral {
    display: flex;
    flex-direction: column;
    align-items: left;
    padding: 20px 15px;
    margin: 0% 15%;
    height: 300px;
    text-align:left;
}

.App-header {
    height: 65px;
    padding: 2px;
    padding-left: 35%;
}

.App-header-c {
    height: 65px;
    padding: 2px;
    padding-left: 1%;
}

.logoo {
    height: 62px;
}

.grid-container {
    display: grid; 
    grid-template-columns: 0.5fr 1.5fr; 
    gap: 1px 1px; 
    grid-template-areas: 
    "login main";
}
  
.search { 
    grid-area: search;
    height: 46px;
    padding-top: 10px;
    background-color: #dddddd;
}

.login { 
    grid-area: login;
    text-align: center;
}
 
.main { 
    grid-area: main;
    padding: 3% 3%;
    text-align: center;
}

.ButtonGroup {
    float: left;
    padding-left: 10px;
}

.Button {
    color: rgb(0, 58, 126);
    background-color: rgb(0, 58, 126);
}

.buscadorCentral {
    width: 500px;
    color: rgb(16, 70, 0);
}

.App {
    text-align: center;
}

.App-logo {
    animation: App-logo-spin infinite 20s linear;
    height: 70px;
    width: 110px;
}

.App-title {
    font-size: 1.5em;
}

.App-intro {
    font-size: small;
}

.todo-form {
    border: 1px solid lightsteelblue;
    margin: auto;
    width: 20%;
    padding: 1px;
    text-align: center;
}

.left {
    float: left;
}

.center {
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: rgb(255, 255, 255);
}

.centerSub {
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.right-margin {
    margin-right: 15px;
}

td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: #FFFFFF;
}

img.logo {
    float: left;
    width: 180px;
    height: 100px;
}
.paper {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 18px;
    width: 100%;
}

Button.blue {
    background-color: rgb(63, 81, 181);
    color: rgb(255, 255, 255);
    border: 1px solid #ffffff;
    width: 100%;
}



Button.sing {
    color: rgb(0, 0, 0);
}


.link {
    color: rgb(255, 255, 255);
    text-decoration:none;
    text-align:center;
}